/* html {
  display: flex;
  flex: 0 1 auto;
} */
.App {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* width: 100%; */
  /* background-image: url('./images/background.jpg'); */
  background-color: #94E0FA;
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-direction: column;
  /* flex:  1 0 auto; */
}
body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* width: 100%; */
  /* background-image: url('./images/background.jpg'); */
  background-color: #94E0FA;
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-direction: column;
  /* flex:  1 0 auto; */
}

